.homeMain {
  width: 100%;
  background-color: #191919;
  padding-bottom: 5%;
  min-height: 1475px;
}

.homeNav {
  background-color: #22282c;
  height: 80px;
  position: relative;
  margin-bottom: 2%;
}

.homeLogo {
  position: relative;
  left: 49px;
  top: 18px;
}

.bio {
  text-align: center;
}

.bioFull {
  max-width: 65%;
  background: linear-gradient(120.39deg, rgba(241, 241, 240, 0.15) 14.67%, rgba(241, 241, 240, 0.05) 63.34%);
  background-color: #191919;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 2%;
  backdrop-filter: blur(25px);
  border-radius: 16px;
  border: 1px solid #F1F1F0;
}

/* .bioLeft {
  width: 50%
} */

.bioLeftTopRight {
  text-align: left;
}

.bioLeftBottom{
  padding: 3%;
}

.bioRight {
  display: flex;
  align-items: center;
}

.nameHeader {
  /* Michael The Dev */
  width: 724px;
  height: 76px;
  font-family: 'Archivo Black', sans-serif;
  font-style: normal;
  font-weight: 400;
  /* font-size: 70px; */
  line-height: 76px;
  text-transform: uppercase;
  color: #F1F1F0;
  text-shadow: 0px 4px 15px rgba(12, 187, 72, 0.6);
}

/* @media (max-width: 1024px) {
  .nameHeader{
    font-size: 40px;
  }
}

@media (max-width: 768px) {
  .nameHeader{
    font-size: 36px;
  }
} */

.tagLine {
  /* max-width: 724px;
  max-height: 23px; */
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  /* font-size: 20px; */
  line-height: 23px;
  color: #FFFFFF;
  /* flex: none;
  order: 1;
  align-self: stretch; */
  /* flex-grow: 0; */
}

/* @media (min-width: 1440px) {
  .tagLine{
    font-size: 20px;
  }
} */

/* @media (max-width: 768px) {
  .tagLine{
    font-size: 16px;
  }
} */

.buyMeCoffee {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px;
  gap: 8px;
  background: #F1F1F0;
  box-shadow: 0px 4px 15px rgba(241, 241, 240, 0.24);
  border-radius: 8px;
  border: 0px;
  font-family: 'Archivo Black', sans-serif;
  font-weight: 600;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.socialLogo {
  width: 40px;
  height: 40px;
}

.aboutTitle {
  /* About */
  text-align: left;
  font-family: 'Archivo', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 33px;
  /* identical to box height */
  color: #F1F1F0;

  /* White */
  text-shadow: 0px 4px 5px rgba(12, 187, 72, 0.5);
}

.aboutMe {
  text-align: left;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 23px;
  color: #FFFFFF;
}

.skillsTitle {
  /* Strengths */
text-align: left;

font-family: 'Archivo', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 30px;
line-height: 33px;
/* identical to box height */
color: #F1F1F0;
text-shadow: 0px 4px 5px rgba(12, 187, 72, 0.5);

}

.playAGame {
  padding: 5%;
  box-sizing: border-box;
  background: linear-gradient(120.39deg, rgba(241, 241, 240, 0.15) 14.67%, rgba(241, 241, 240, 0.05) 48.38%, rgba(241, 241, 240, 0.09) 63.34%);
  box-shadow: 0px 0px 50px #22282C;
  backdrop-filter: blur(25px);
  /* Note: backdrop-filter has minimal browser support */
  border-radius: 16px;
  min-height: 80%;
}

.playAGameTitle {
  margin-top: 30%;
  text-align: center;
}

.playAGameText{
  max-width: 75%;
  margin: 0 auto;
  margin-top: 16%;
  margin-bottom: 8%;
  text-align: left;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
  color: #FFFFFF;
}

.gameLogo {
  max-width: 80%;
}

.firstCol,
.secondCol,
.thirdCol {
  max-width: 500px;
}

.comingSoon1 {
  color: white;
  position: fixed;
  top: 200px;
  left: 735px;
  font-size: 60px;
}

.mernchBut {
  background-color: #D83D1D;
  box-shadow: 0px 4px 15px rgba(216, 61, 29, 0.5);
  border-radius: 8px;
  width: 160px;
  height: 40px;
  padding: 10px 60px;
}

.googleBut {
  background-color: #315BC8;
  box-shadow: 0px 4px 15px rgba(49, 91, 200, 0.5);
  border-radius: 8px;
  width: 160px;
  height: 40px;
  padding: 10px 35px;
}

.camBut {
  background-color: #F0CB47;
  box-shadow: 0px 4px 15px rgba(240, 203, 71, 0.5);
  border-radius: 8px;
  width: 160px;
  height: 40px;
  padding: 10px 35px;
}

.mernMain {
  width: 100%;
  /* min-height: 1475px; */
  background-color: #191919;
  padding-bottom: 5%;
}

.navvy {
  background-color: #22282c;
  height: 80px;
}

.mernNav {
  margin-left: 2%;
}

.darker_bg {
  background-color: #22282c;
}

.logoCss {
  margin-left: 2%;
}

.mernTable {
  width: 90%;
  background: linear-gradient(120.39deg, rgba(241, 241, 240, 0.15) 14.67%, rgba(241, 241, 240, 0.05) 63.34%);
  background-color: #191919;
  box-sizing: border-box;
  margin: 0 auto;
  margin-top: 2%;
  margin-bottom: 2%;
  padding: 4%;
  max-width: 65%;
  backdrop-filter: blur(25px);
  /* Note: backdrop-filter has minimal browser support */
  border-radius: 16px;
  border: 1px solid #F1F1F0;
}

.cardImage {
  width: 100%;
  height: 100%;
  display: block;
  transform-style: preserve-3d;
  transition: .4s ease-in-out;
}

.cardImage.picked {
  width: 50%;
  height: 50%;
  display: block;
  transform-style: preserve-3d;
  transition: .4s ease-in-out;
}

.cardImage2 {
  width: 50%;
  height: 50%;
  display: block;
  transform-style: preserve-3d;
  transition: .4s ease-in-out;
}


.startGameButton {
  width: 400px;
  height: 400px;
  position: fixed;
  top: 20%;
  left: 35%;
  z-index: 9999;
  background: linear-gradient(120.39deg, rgba(241, 241, 240, 0.15) 14.67%, rgba(241, 241, 240, 0.05) 63.34%);
  background-color: #191919;
  color: white;
  font-size: 30px;
}

.startBg {
  width: 1400px;
  height: 500px;
  position: fixed;
  background: linear-gradient(120.39deg, rgba(241, 241, 240, 0.15) 14.67%, rgba(241, 241, 240, 0.05) 63.34%);
  background-color: #191919;
  z-index: 9998;
  opacity: 1%;
}

.showWinModal {
  width: 400px;
  height: 400px;
  position: fixed;
  top: 20%;
  left: 35%;
  z-index: 9999;
  background: linear-gradient(120.39deg, rgba(241, 241, 240, 0.15) 14.67%, rgba(241, 241, 240, 0.05) 63.34%);
  background-color: #191919;
  color: white;
  font-size: 30px;
}

.youRock {
  margin-top: 40%;
  text-align: center;
}

.playAgain {
  margin-left: 30%;
}

.homeBut {
  border-radius: 8px;
  width: 160px;
  height: 60px;
  padding: 10px 35px;
  font-size: 30px;
  margin-right: 10px;
  text-decoration: none;
}


/* Flip CSS */


.flipButton {
  width: 240px;
  height: 40px;
  background: #FFFFFF;
  box-shadow: 0px 4px 15px rgba(255, 255, 255, 0.5);
  border-radius: 8px;
}

.flipButtonText {
  font-family: 'Archivo Black', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 22px;
  color: #22282C;
}

.flip-card {
  background-color: transparent;
  /* width: 300px;
  height: 300px; */
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

/* .flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
} */

.flipItCardActive {
  background-color: transparent;
  /* width: 300px;
  height: 300px; */
  perspective: 1000px;
  /* transform: rotateY(180deg); */
}

.flipItCardInnerActive {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #bbb;
  color: black;
}

.flip-card-back {
  transform: rotateY(180deg);
}

.homeTable {
  max-width: 90%;
  background: linear-gradient(120.39deg, rgba(241, 241, 240, 0.15) 14.67%, rgba(241, 241, 240, 0.05) 63.34%);
  background-color: #191919;
  box-sizing: border-box;
  margin: 0 auto;
  margin-top: 2%;
  margin-bottom: 2%;
  padding: 3%;
  /* position: absolute; */
  /* width: 1565px;
  height: 717px;
  left: 81px;
  top: 114px; */
  backdrop-filter: blur(25px);
  /* Note: backdrop-filter has minimal browser support */
  border-radius: 16px;
  border: 1px solid #F1F1F0;
}