.homeMain {
  width: 100%;
  background-color: #191919;
  padding-bottom: 5%;
}

.homeNav {
  background-color: #22282c;
  height: 100px;
}

.homeLogo {
  margin-left: 1%;
  margin-top: 1%;
}

.gameLogo {
  max-width: 80%;
}

.homeTable {
  max-width: 1800px;
  background: linear-gradient(120.39deg, rgba(241, 241, 240, 0.15) 14.67%, rgba(241, 241, 240, 0.05) 63.34%);
  background-color: #191919;
  box-sizing: border-box;
  margin: 0 auto;
  margin-top: 2%;
  margin-bottom: 2%;
  padding: 3%;
  /* position: absolute; */
  /* width: 1565px;
  height: 717px;
  left: 81px;
  top: 114px; */
  backdrop-filter: blur(25px);
  /* Note: backdrop-filter has minimal browser support */
  border-radius: 16px;
  border: 1px solid #F1F1F0;
}

.firstCol,
.secondCol,
.thirdCol {
  max-width: 500px;
}

.comingSoon1 {
  color: white;
  position: fixed;
  top: 200px;
  left: 735px;
  font-size: 60px;
}

.mernchBut {
  background-color: #D83D1D;
  box-shadow: 0px 4px 15px rgba(216, 61, 29, 0.5);
  border-radius: 8px;
  width: 160px;
  height: 40px;
  padding: 10px 60px;
}

.googleBut {
  background-color: #315BC8;
  box-shadow: 0px 4px 15px rgba(49, 91, 200, 0.5);
  border-radius: 8px;
  width: 160px;
  height: 40px;
  padding: 10px 35px;
}

.camBut {
  background-color: #F0CB47;
  box-shadow: 0px 4px 15px rgba(240, 203, 71, 0.5);
  border-radius: 8px;
  width: 160px;
  height: 40px;
  padding: 10px 35px;
}

.mernMain {
  width: 100%;
  background-color: #191919;
  padding-bottom: 5%;
}

.mernNav {
  background-color: #22282c;
  height: 100px;
}

.darker_bg {
  background-color: #22282c;
}

.logoCss {
  margin-left: 50px;
  padding-top: 15px;
  margin-bottom: 83px;
}

.mernTable {
  width: 1565px;
  background: linear-gradient(120.39deg, rgba(241, 241, 240, 0.15) 14.67%, rgba(241, 241, 240, 0.05) 63.34%);
  background-color: #191919;
  box-sizing: border-box;
  margin: 0 auto;
  margin-top: 2%;
  margin-bottom: 2%;
  padding: 4%;

  /* position: absolute; */
  /* width: 1565px;
  height: 717px;
  left: 81px;
  top: 114px; */

  backdrop-filter: blur(25px);
  /* Note: backdrop-filter has minimal browser support */

  border-radius: 16px;
  border: 1px solid #F1F1F0;
}

.cardImage {
  width: 100%;
  height: 100%;
  display: block;
  transform-style: preserve-3d;
  transition: .4s ease-in-out;
}
.cardImage.picked {
  width: 50%;
  height: 50%;
  display: block;
  transform-style: preserve-3d;
  transition: .4s ease-in-out;
}

.cardImage2 {
  width: 50%;
  height: 50%;
  display: block;
  transform-style: preserve-3d;
  transition: .4s ease-in-out;
}


.startGameButton {
  width: 400px;
  height: 400px;
  position: fixed;
  top: 20%;
  left: 35%;
  z-index: 9999;
  background: linear-gradient(120.39deg, rgba(241, 241, 240, 0.15) 14.67%, rgba(241, 241, 240, 0.05) 63.34%);
  background-color: #191919;
  color: white;
  font-size: 30px;
}

.startBg {
  width: 1400px;
  height: 500px;
  position: fixed;
  background: linear-gradient(120.39deg, rgba(241, 241, 240, 0.15) 14.67%, rgba(241, 241, 240, 0.05) 63.34%);
  background-color: #191919;
  z-index: 9998;
  opacity: 1%;
}

.showWinModal {
  width: 400px;
  height: 400px;
  position: fixed;
  top: 20%;
  left: 35%;
  z-index: 9999;
  background: linear-gradient(120.39deg, rgba(241, 241, 240, 0.15) 14.67%, rgba(241, 241, 240, 0.05) 63.34%);
  background-color: #191919;
  color: white;
  font-size: 30px;
}

.youRock {
  margin-top: 40%;
  text-align: center;
}

.playAgain {
  margin-left: 30%;
}

.homeBut {
  border-radius: 8px;
  width: 160px;
  height: 60px;
  padding: 10px 35px;
  font-size: 30px;
  margin-right: 10px;
  text-decoration: none;
}